DATABASE_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Vercel Domains API (opcional, para custom domains)
# VERCEL_AUTH_TOKEN=
# VERCEL_PROJECT_ID=
# VERCEL_TEAM_ID=

# Multi-tenant
NEXT_PUBLIC_ROOT_DOMAIN=localhost:3000
